.debug { display: none; }

body { height: auto; margin-top: 10px;}
.subtitle-bar {
  h2 {
    float: left;
    display: inline;
  } 
  a {
    float: right;
    display: inline;
  }
}
.float-left { float: left; }
.float-right { float: right; }

.reveal-tab { cursor: pointer; }


.tooltip-wrapper {
  position:relative;
  .tooltip {
    position: absolute;
    display: none;
    top: -45px;
    left: -10px;
    .tip { 
      display: block; 
      position: relative;
      background: black;
      color: white; 
      border-radius: 6px;
      padding: 6px;
      white-space: nowrap;
      z-index: 10000;
      opacity: .5;
      p { margin-bottom: 0; }
    }
    .tooltip-arrow {
      position: relative;
      left: 10px;
      opacity: .5;
      border: 10px solid transparent !important; 
      border-top: 10px solid black !important;
    }
  } 
}