@import "/Content/common-functions.less";

.debug { display: none; }

body { height: auto; margin-top: 10px;}

.subtitle-bar {
  h2 {
    float: left;
    display: inline;
  } 
  a {
    float: right;
    display: inline;
  }
}

.float-left { float: left; }

.float-right { float: right; }

.reveal-tab { cursor: pointer; }

.has_tip{
  &:hover .tip { display: block }
  display: block;
  position: relative;
  .tip {
    display: none;
    opacity: .8;
    position: absolute;
    top: -48px;
    white-space:nowrap;
    .tip_text {
      display: block;
      padding: 8px;
      background: #333;
      border-radius: 6px;
      color: lime;
      margin-left: -7px;
    }
    .tip_ornament {
      border: 10px solid transparent;
      border-top: 10px solid #333;      
      border-bottom: 0;   
      display: inline-block;
      position:relative;
      top: -5px;
      
    }
  }
}

@arrow_color: #ccc;
@arrow_highlight_color: #666;

.arrow_body {
  color: @arrow_highlight_color;
  background: @arrow_color;
  padding: 10px;
  width: 150px;
  display: inline-block;
  vertical-align:middle;
  text-align: center;
  .rounded-corners(5px 0 0 5px); 
}

.arrow_head {
  border: 60px solid transparent;
  border-left: 60px solid @arrow_color;
  color: @arrow_highlight_color;
  border-radius: 6px;
  display: inline-block;
  vertical-align:middle;
}

.arrow:hover {
  .arrow_body {
    background: @arrow_highlight_color; 
    color: @arrow_color;
  }
  .arrow_head {
    border-left: 60px solid @arrow_highlight_color;  
  }
}

h3 {
  font-size: 200%;
  text-align: center;
  background: #666;
  padding: 5px;
  color: #fff;
  .rounded-corners(10px 10px 0 0);

}