label {
  color: #ddd;
  display: inline;
  float: none;
  font-size: 24px;
}
input[type="checkbox"] {
  margin: 4px;
}
pre {
  background: none;
  border-width: 0px;
  padding: 0px;
}
table {
  width: auto;
  margin: 0;
}
table th {
  border-top: 0 !important;
}
table td {
  padding: 0;
}
