<section class="traditional-calendar">
  <div class="myheader">
    <div>Sun</div>
    <div>Mon</div>
    <div>Tue</div>
    <div>Wed</div>
    <div>Thu</div>
    <div>Fri</div>
    <div>Sat</div>
  </div>
  <div data-bind="foreach: calendarDays" class="calendar-days">
    <div class="day">
      <div style="display: block;" data-bind="text: niceDay"></div>
      <div data-bind="foreach: topics" class="topics">
        <div class="title" data-bind="text: title"></div>
      </div>
      <div data-bind="foreach: actions" class="topic-actions">
        <div style="position: relative;" class="campaign-action" data-bind="css: {facebook: channel()==='facebook', twitter: channel()==='twitter', meetup: channel()==='meetup'  }">
          <div class="topic-title" style="display: none; position: absolute; z-index: 40; white-space: nowrap; overflow: visible; left: 20px;" data-bind="text: topicTitle()">
            <div data-bind="text: topicTitle()"></div>
            <div data-bind="text: notes()"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  $(function () {
    setTimeout(function () {
      $('.campaign-action').on('hover', function (event) {
        $(this.children).toggle('slow');
      });
    }, 1000);

  });

</script>
@*<section class="list-calendar">
  <span class="date"></span>
  <ul data-bind="foreach: $root.allChannels()" class="channels calendar-header">
    <li class="channel">
      <span data-bind="text: $data"></span>
    </li>
  </ul>
  <ul data-bind="foreach: calendarDays" class="calendar-days">
    <li class="day">
      <span class="date" data-bind="text: niceDay"></span>
      <ul data-bind="foreach: channels" class="channels">
        <li class="channel">
          <ul class="channel-actions" data-bind="foreach: actions">
            <li>
              <span data-bind="text: triggerTitle"></span>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</section>*@ 