<section class="traditional-calendar">
  <div class="myheader" style="position: relative;">
    <div>Sun</div>
    <div>Mon</div>
    <div>Tue</div>
    <div>Wed</div>
    <div>Thu</div>
    <div>Fri</div>
    <div>Sat</div>
    <img src="/Content/Images/rss-icon-bw.jpg" width="30px" height="20px" alt="Subscribe to your calendar feed coming soon."
      title="Subscribe to your calendar feed coming soon." style="position: absolute;
      right: -40px; top: 5px;" />
  </div>
  <div data-bind="foreach: calendarDays" class="calendar-days">
    <div class="day">
      <div style="display: block;" data-bind="text: niceDay"></div>
      <div data-bind="foreach: campaigns" class="campaigns has_tip">
        <div class="target" data-bind="click: toggleSelectedState, css: { highlighted: $data.isHighlighted }"></div>
        <div class="tip">
          <div class="tip_text" data-bind="text: title">tool tip text</div>
          <div class="tip_ornament"></div>
        </div>
      </div>
      <div data-bind="foreach: actions" class="campaign-actions has_tip">
        <div class="campaign-action"  
        data-bind="click: $root.showActionDialog, css: {facebook: $data.channel()==='facebook', twitter: $data.channel()==='twitter', meetup: $data.channel()==='meetup', highlighted: $data.isHighlighted()  }" >
        </div>
        <div class="tip">
          <div class="tip_text" data-bind="text: campaignTitle()"></div>
          <div class="tip_ornament"></div>
        </div>
      </div>
    </div>
  </div>
</section>
@*<section class="list-calendar">
  <span class="date"></span>
  <ul data-bind="foreach: $root.allChannels()" class="channels calendar-header">
    <li class="channel">
      <span data-bind="text: $data"></span>
    </li>
  </ul>
  <ul data-bind="foreach: calendarDays" class="calendar-days">
    <li class="day">
      <span class="date" data-bind="text: niceDay"></span>
      <ul data-bind="foreach: channels" class="channels">
        <li class="channel">
          <ul class="channel-actions" data-bind="foreach: actions">
            <li>
              <span data-bind="text: triggerTitle"></span>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</section>*@ 