<div class="triggers">
  <div class="list-header">
    My Campaigns</div>
  <ul class="trigger-list" data-bind="foreach: triggers">
    @Html.Partial("_trigger")
  </ul>
  <div class="new trigger">
    <input type="text" placeholder="New Trigger" class="title" data-bind="value: triggerToAddTitle"
      name="Title" />
    <textarea placeholder="notes" data-bind="value: triggerToAddNotes"></textarea>
    <input type="text" class="date" placeholder="Date" data-bind="value: triggerToAddDate"
      name="Date" />
    <button data-bind="click: addTrigger" class="btn add primary">+ Add Trigger</button>
  </div>
  <div class="reveal-tab">
    <span>{ + } </span>
  </div>
  @Html.Partial("_action-dialog")
</div>
<script type="text/javascript">
  // $('.reveal-tab').click(function () {}
  // see /content/site.js for above function

</script>
