@model IEnumerable<SocialManager.Mvc4.Models.Contact>
@{
  ViewBag.Title = "Knockout Contacts";
}
@{if (false)
  {
  <script src="/Content/lib/jquery/jquery-1.7.1.min.js" type="text/javascript"></script> 
  }
}

<div class="debug" >
 <textarea style="position:absolute; left: 10px; width: 275px; height: 400px;" data-bind="text: ko.toJSON($root.triggers)"></textarea>
</div>
<br />
@Html.Partial("_triggers")

@Html.Partial("_calendar")

@section pageScripts
{
  <script type="text/javascript">
    var uvOptions = {};
    (function () {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/6cxBBqmFm47ZPVCoPayw.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
  </script>
  <script src="/content/ko-protected-observable.js" type="text/javascript"></script>
  <script src="/content/CrudHelpers.js" type="text/javascript"></script>
  <script src="/Content/lib/knockout/knockout-2.0.0.js" type="text/javascript"></script>
  <script src="/Content/lib/knockout/knockout-mapping.js" type="text/javascript"></script>
  <script src="/Areas/Campaigns/Scripts/social.js" type="text/javascript"> </script>
  <script src="/Areas/Campaigns/Scripts/social_calendar.js" type="text/javascript"> </script>
  <script src="/Areas/Campaigns/Scripts/models.js" type="text/javascript"></script>
  <script src="/Areas/Campaigns/Scripts/social_testUtils.js" type="text/javascript"> </script>
  <script src="/Content/lib/code-mirror/mode/javascript/javascript.js"></script>
  <script type="text/javascript">
    $(function () {
      setupViewModel();
      processDom();
    });

    var setupViewModel = function () {
      var data = testUtils.getPageData();
      var viewModel = new TriggersViewModel(data);
      ko.applyBindings(viewModel);
    };

    var processDom = function () {
      $('.tabs').tabs();
      $(document).on("click", '.summary', function () {
        $(this.parentNode).children('.details').toggle('fast');
      });
      $('input.date').datepicker("destroy");
      $('input.date').datepicker();


      //var editor = CodeMirror.fromTextArea(document.getElementById("code"), { lineNumbers: true, matchBrackets: true, name: "javascript", json: true, lineWrapping: true });
      
    };

  </script>
}
