@{
  ViewBag.Title = "SocialTests";
}

@if (true)
{
  // OPTIONAL! QUnit script (here for intellisense)
  <link rel="stylesheet" href="/content/lib/qunit/qunit.css " />
  <link rel="stylesheet" href="/content/tests.less " type="text/css" />
  <script type="text/javascript" src="@Url.Content("~/Content/lib/qunit/qunit.js")"> </script>
}
  <p>
    &nbsp<a href="http://docs.jquery.com/QUnit">QUnit Homepage</a>
  </p>
  <h1 id="qunit-header">
    @(Page.Title ?? "QUnit tests")
  </h1>
  <h2 id="qunit-banner"></h2>
  <h2 id="qunit-userAgent"></h2>
  <ol id="qunit-tests"></ol>

<!-- Script we're testing -->
<script type="text/javascript">
  Date.prototype.addDays = function (days) {
    days = this.getDate() + days;
    return this.setDate(days);
  };
  var rows = function (date) {
    var _results;
    _results = [];
    for (var num = -30; num <= 30; num++) {
      _results.push(new Date(new Date(date).addDays(num)));
    }
    return _results;
  };
</script>

<!-- The tests -->
<script type="text/javascript">

  $(function () {
    // calculator_tests.js
    module("Topics");
    test("Should return 60 dates", function () {

      ok(rows, "My Rows is a O.K.");
      var myRows = rows(new Date());
      equals(myRows.length, 61, "61 Rows");
    });
  });
</script>

