<div id="actionDialog" data-bind="with: currentAction" title="Action Details" >
  <div>
    <label>
      Date</label>
    <input type="text" class="date" data-bind="value: date" />
  </div>
  <div>
    <label>
      Channel</label>
    <input type="text" data-bind="value: channel" />
  </div>
  <div>
    <label>
      Notes</label>
      <textarea rows="5" placeholder="notes"></textarea>
  </div>
</div>