@{
  ViewBag.Title = "About";
}
<br />
<div class="page">
  <section>
    <h3>the project</h3>
    </br>
    <ul>
      <li>Product Backlog -
        <a href="https://www.pivotaltracker.com/projects/442523/stories">Pivotal Tracker</a>
      </li>
      <li>Source Code -
        <a href="http://github.com/danieleli/Social-Manager-for-Good">Github Repo</a>
      </li>
    </ul>
  </section>
  <section>
    <h3>Upcoming Features</h3>
    <br />
    <ul>
      <li>User Sign-on!</li>
      <li>Data persistance</li>
      <li>Mailchimp</li>
      <li>Multi-user accounts</li>
    </ul>
  </section>
  <section>
    <h3>commit history</h3>
    <br />
    <p>github coming soon.</p>
  </section>
  <section>
    <h3>maker</h3>
    <br />

    <p>Dan Schlossberg</p>
    <p>Chief Software Craftsman</p>
    <p>Software Singularity</p>
  </section>
</div>
<style type="text/css">
  .page {
    text-align: center;
  }
  section {
    width: 40%;
    display: inline-block;
    margin: 20px;
    vertical-align: top;
  }
</style>
