@{
  ViewBag.Title = "About";
}
<br />
<br />
<br />
<ul>
  <li>Product Backlog -
    <a href="https://www.pivotaltracker.com/projects/442523/stories">Pivotal Tracker</a>
  </li>
  <li>Source Code -
    <a href="http://github.com/danieleli/Social-Manager-for-Good">Github Repo</a>
  </li>
</ul>
<ul>Upcoming Features
  <li>User Sign-on!</li>
  <li>Data persistance</li>
  <li>Mailchimp</li>
  <li>Multi-user accounts</li>
</ul>
<div class="js-navigation-container" id="js-active-navigation-container">
  <h3 class="commit-group-heading">Dec 29, 2011</h3>
  <ol class="commit-group">
    <li class="commit commit-group-item js-navigation-item js-details-container">
      <img class="gravatar" height="36" src="https://secure.gravatar.com/avatar/f449dcbc444214d40a5ed529cf2deca8?s=140&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png"
        width="36">
      <p class="commit-title ">
        <a href="/danieleli/Social-Manager-for-Good/commit/57aaf702f101faec6f06385f24ed844d36d2bd7b"
          class="message">include qunit test page.</a>
      </p>
    </li>
  </ol>
</div>
