@{
  ViewBag.Title = "About";
}
<br />
<br />
<br />
<ul>
  <li>Product Backlog - <a href="https://www.pivotaltracker.com/projects/442523/stories">Pivotal Tracker</a>
     </li>
  <li>Source Code - 
    <a href="http://github.com/danieleli/Social-Manager-for-Good">Github Repo</a>
     </li>
</ul>
