@{
  ViewBag.Title = "About";
}
<br />
<br />
<br />
<ul>
  <li>Product Backlog - <a href="https://www.pivotaltracker.com/projects/442523/stories">Pivotal Tracker</a>
     </li>
  <li>Source Code - 
    <a href="http://github.com/danieleli/Social-Manager-for-Good">Github Repo</a>
     </li>
</ul>

<ul>Upcoming Features
<li>User Sign-on!</li>
<li>Data persistance</li>
<li>Mailchimp</li>
<li>Multi-user accounts</li>
</ul>