<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpHandlers>
      <add verb="*" path="*.js"
         type="System.Web.StaticFileHandler" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <handlers>
      <remove name="JavascriptFileHandler"/>
      <add name="JavascriptFileHandler" verb="GET" path="*.js" resourceType="File" type="System.Web.StaticFileHandler" />
    </handlers>
  </system.webServer>

</configuration>
