@import "/Content/common-functions.less";
@channel-width: 100px;
@day-width: 84px;
@tradition-calendar-width: (@day-width * 7) + 54;
@color1: #999;
@color1-light: lighten(@color1, 30%);
@color1-lightest: lighten(@color1, 40%);
@color1-dark: darken(@color1, 20%);
@color2: #777;
@color2-light: lighten(@color2, 30%);
@color2-dark: dark(@color2, 30%);
@left-list-width: 260px;

.calendar-icon {
  background: url('/content/images/target.png') no-repeat top left; background-size: contain; width: 20px; height: 20px; 
}
.facebook { .calendar-icon(); background: url('/content/images/facebook_512x512.png');}
.twitter { .calendar-icon(); background: url('/content/images/twitter_512x512.png'); }
.meetup { .calendar-icon(); background: url('/content/images/meetup.png');} 
.target { .calendar-icon(); background: url('/content/images/target.png');} 
#body { min-height: 700px; }
body {
  .xtra { 
    margin: 0 ; 
    padding: 0 0 30px 0; 
  }
}
.topbar, .topbar2-inner { 
  margin-bottom: 40px;
  a:hover { background: #666 !important; }
  background: transparent; position: relative;
  .container { 
    background: #666; 
    .rounded-corners(10px); 
    padding: 10px 0;
    .brand { margin-left: 0px; }
  }
}
.dialog { display: none; }

.content.home {
  section {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 90px;
    
    .adjectives { 
      display: inline-block; 
      margin-right: 90px;
      vertical-align: middle;
      width:300px;
      p { font-size: 36pt; line-height: 60px; }
    }
    .steps {
      width: 400px;
      display: inline-block;
      ol { 
        font-size: 20pt; 
        vertical-align: middle;
        margin-left: 90px;
        display: inline-block; 
        text-align: left;
        li { 
          line-height:32px;
          display: inline-block;
          text-align: left; 
          span { width: 90px;  display: inline-block; vertical-align: top;  }
          div { display: inline-block; width: 220px;vertical-align: top; font-size: 16px; }
        }  
      }
    }
  }
}


#mc_embed_signup {
  text-align: center;
  background: @color1-light;
  padding: 35px;
  border: 3px solid @color1;
  
  .rounded-corners(10px);
  form {
    font-size: 140% !important;
    margin-bottom: 0px;
    vertical-align: middle;
    input { height: 30px; vertical-align: middle; font-size: 140%; padding:5px; line-height: 30px; }
    label {vertical-align: middle; margin-right: 10px; width: auto; float: none; font-size: 140% !important;}
    .bcvutton { height: 40px; padding: 5px;}
  }
}

ul { list-style: none; }
.tabs, .tabs ul { border: none; background: transparent;}
.date {
  width: 80px;
  color: #bbb;  }

#actionDialog {
  label { margin-top: 4px; margin-right: 10px; padding: 0; width:60px; text-align: right; }
  input, textarea { width: 190px; }
}


table td { border: none; }
table { border: none; }
.traditional-calendar
{
  float: right;
  clear: right;
  
  .rounded-corners(10px);
  margin-left: 20px;
  width: @tradition-calendar-width;
  display: inline-block;
  div {margin: 0; padding: 0; display:inline-block; border: none;}
 
  .myheader {
    padding: 5px 1px 0 1px;
    background: #aaa;
    .rounded-corners-each(10px, 10px, 0,0);
    div { 
      text-align: center; 
      width: @day-width; 
      margin-bottom: 0px;
      
      
      padding: 2px 2px 3px 2px;
    }
  }
  
  .actions { background: none; }
  .calendar-days { background: #eee;  border: 1px solid #aaa;
    border-top: none; .rounded-corners(0px 0px 10px 10px);  }
  .day { 
    color: #666;
    
    min-height: 50px;
    width: @day-width; 
    margin-bottom: 3px; 
    vertical-align: top;  
    overflow: visible;
    padding: 2px;
    .actions { 
      border: none;
      display: inline;
      .action  { 
        color: #333;
        background: transparent;
        display: inline;
        border: none;
        display: inline-block; 
        white-space: nowrap; 
      }  
    }
  }
  
  
  
}

footer {
  text-align:center; 
  width:100%; 
  margin: 0;
  a { color: #aaa }
  a:hover { color: #eee; text-decoration:none; }
}

.triggers {
  width: @left-list-width;
  display: inline-block;
  vertical-align: top;
  .list-header {
    
    padding: 10px 0 10px 10px;
    font-size: 125%;
    background: @color1;
    color: @color1-lightest;
    position: relative;
    .rounded-corners(10px 10px 0px 0px);
  }
  .trigger-list {
    position: relative;
    .rounded-corners(0px 0px 10px 10px);
  
    padding: 5px 5px 0 5px;
    margin: 0;
    background: @color1-light;
    margin-left: 0;
    z-index: 10;
    .trigger { 
      padding:5px;
      .target { display: inline-block; float: left; margin-right: 5px; opacity: .6; }
      .summary {
        cursor: pointer;
        color: @color1;
        padding: 0 0 10px 0;
        border-bottom: 1px solid @color1;
        .title { float: left; }
        .date { float: right; text-align:right; color:@color1-light }
      }
      .details
      {
        border-bottom: 1px solid @color1;
        padding: 5px 0;
        .add { }
        .delete { float: right; }
        textarea { 
          width: (@left-list-width - 30); 
          background: @color1-lightest; 
          margin: 10px 0;
        }
        ul { 
          margin: 5px 0; 
          padding: 0;
          background: @color1-light;
          border-top: none;
          li { 
            cursor: pointer;
            display: inline-block; 
            margin: 0; 
            background:@color1-lightest; 
            .rounded-corners(5px); 
            padding: 2px 4px;  
            margin: 2px 4px 2px 0px;
            .action-date { font-size: 80%; }
          }
          li:hover { background: #ddd; }


        }
        .new-item.action {
          background: @color1-dark;
          margin: 15px 0;
          .rounded-corners(8px);
          padding: 10px;
          div { margin-top: 15px; }
          .other-channel { width: 80px !important; }
          input { display: inline-block; margin-right: 10px; }
          .btn { float: right;  }
          .date { width: 60px; margin-right: 0; float: right; margin-top:-3px; }
        }

        .buttons { height:40px; margin-right: 10px; }
      }
    }
    .trigger:last-child { .summary { border-bottom: none; }}
    .details { display: none; }
  }

  .new.trigger {
    display: none;
    padding: 20px 0 10px 10px;
    background: @color2-light;
    color: @color2-dark;
    margin-top: -15px;
    z-index: -1;
    .rounded-corners(10px);
    input, textarea { margin: 3px; width: @left-list-width - 35; }
    button { float: right; margin-right: 12px; margin-top: 2px }
    .date { width: 110px;}
    
  }
  .reveal-tab { 
    text-align: right;
    margin-right: 10px;
    left: 100px;
    cursor: pointer;
  }
}


/*
.triggers {
  display: inline-block;
  ul, li { margin-left: 0; }
  .new-item { 
    margin-left:80px;
    input, button { margin: 5px; }
  }
  .title {
    width: 150px;
    display: inline-block;
  }
  .trigger { 
    .rounded-corners();
    &:hover { 
      background: #eee;
      .channel {
        background: #fff !important;
      }
    }
    .summary {
      cursor: pointer;
      position: relative;
      padding: 10px;
      vertical-align: middle;
      div { display: inline-block; padding-right: 10px; }
      .outer-left { position: absolute; left: -80px; top: -6px;}
      span { vertical-align: top; display: inline-block; }
      .title { font-size: 120%; width: 165px; }
      .actions { 
        padding: 0px;
        margin: 0px;
        width: 350px;
        display: inline-block;
        border: none;
        background: transparent;
        .channel {
          background: #eee;
          padding: 3px;
          margin: 0 3px 3px 3px;
          .date { font-size: 80%; color: #999; }
          .rounded-corners();
          span {
            padding: 2px;
            display: inline; }
          .moreinfo {
            padding: 0 5px;
          } }
      } 
    } 

    .details { 
      margin-top: 5px;
      display: none; 
      .new-item.action {
        
        padding-bottom: 10px;
        .delete { padding: 0 3px; margin: 3px;}
        .channel { background: #eee; .rounded-corners(5px); }
        .channel:hover { background: #ddd; color: #333; }
        margin: 0;
      } 
      .ui-tabs-panel { 
        padding: 10px; 
        height: 270px;
        background: #fafaff;
        .rounded-corners-each(0,10px,10px,10px);
        ul { margin-left: 0px; margin-bottom: 15px; }
      }
    }

    .channels, .channel {
      display: inline-block; }

    .calendar {
      .outer-div{ position:relative;  margin: auto;}
      .inner-div{ overflow: auto; height: 260px; padding-right: 10px; }
      table  {   
        color: #666;
        th {
      
          text-align: center;
          background: #eee;
          &.top-header { background: #ddd; .rounded-corners-each(5px,5px,0,0);}
          &.nogb { background: transparent; }
          &.header-first {.rounded-corners-each(5px,0,0,0);}
        }
        tbody {
          tr:hover { background: #eee; }
          td { text-align: center; padding: 2px;  }
        }
      
      }
    }
  } 
}



.list-calendar { 
  position: relative;
  display: inline-block;
  margin: 20px 0 0 0;
  overflow: visible;

  .calendar-header { 
    padding-bottom: 0px;
    li { padding-bottom: 5px; }
    .channel{
      color: #555; 
      font-size: 115%; 
      font-wieght: 900;
      border-bottom: 1px solid #ccc;
    }
  }

  .calendar-days { 
    margin: 0; 
    overflow: auto;
  }

  .day {
    padding: 5px 0;
    border-bottom: 1px dotted #ddd;
  }
  .date { width: 50px; display: inline-block; }
  .channels {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0;
    
    .channel {
      vertical-align: top;
      display: inline-block;
      width: @channel-width;
      margin: 0;
      
      .channel-actions {
        margin: 0;
        
      }
    }
  }
}

*/