<div class="container">
  <div class="float-left">
    <p>
      &copy; <a href="http://www.softwaresingularity.com">Software Singularity</a></p>
  </div>
  <div class="float-right"><p>
    <a href="http://github.com/danieleli/Social-Manager-for-Good">Github Repo</a></p>
  </div>
  <br />
  <br />
</div>
