<div class="topbar" data-scrollspy="scrollspy">
  <div class="topbar-inner">
    <div class="container">
      @Html.ActionLink("{0:1} - Social Manager", "Index", "Social", null, new { Class = "brand" })
      <ul class="nav">
        <li>@Html.ActionLink("Home", "Index", "Social")</li>
      </ul>
    </div>
  </div>
</div>
