<div class="topbar" data-scrollspy="scrollspy">
  <div class="topbar-inner">
    <div class="container">
      @Html.ActionLink("{1:1} - Social Campaign Manager", "Index", "Social", null, new { Class = "brand" })
      <ul class="nav">
        <li>@Html.ActionLink("Home", "Index", "Social")</li>
      </ul>
      <a id="help" href="#" style="margin-top:12px;">Help</a>
    </div>  
  </div>
</div>
