<div class="topbar" data-scrollspy="scrollspy">
  <div class="topbar2-inner">
    <div class="container">
      @Html.ActionLink("{1:1} - social campaign manager", "Index", "Social", null, new { Class = "brand" })
      <ul class="nav">
        <li>@Html.ActionLink("home", "Index", "Home")</li>
        <li>@Html.ActionLink("my campaigns", "Index", "Social")</li>
      </ul>
      <ul class="nav" style="float: right;">
        <li><a id="about" href="/Test/Index.cshtml">tests</a></li>
        <li><a id="about" href="/home/about">about</a></li>
        <li><a id="help" href="#" >help</a></li>
      </ul>
    </div>  
  </div>
</div>
